@charset "UTF-8";

*{
	margin: 0;
	padding : 0;
	box-sizing: border-box;
}

h1 {
	/*font-size: 0; */
	position: absolute;
	left: -99999px;
}

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	outline: none;
}